<div class="container">
  <header class="header">
      <img class="logo" src="./assets/ico-logo.png" alt="logo-ironbit">
      <strong>Frontend Test</strong>
  </header>
  <section class="create-item">
      <div class="row">
          <div class="column-80">
              <input type="text" [(ngModel)]="selectedItem.content" class="field-create" placeholder=":)">
          </div>
          <div class="column-20">
              <button (click)="addItem()" class="btn-create">Agregar</button>
          </div>
      </div>
  </section>
  <section class="list-container">
      <div class="row list-header">
          <div class="column-80 desc">
              <p>ToDo list by Iron Bit</p>
          </div>
          <div class="column-20 icon-container">
              <img (click)="deleteListItems()" src="./assets/recycle-bin.svg" alt="Eliminar lista" class="icon">
          </div>
      </div>
      <div class="list-body">
          <div *ngIf="listItems.length == 0" class="row default-list">
              <p class="column-80">No hay ToDo's, tomate un café!</p>
          </div>
          <div *ngFor="let item of listItems" class="row todo-item">
              <div class="column-80 desc">
                  <p>
                      {{item.content}}
                  </p>
              </div>
              <div class="column-20 icon-container">
                  <img (click)="deleteItem(item.id)" src="./assets/remove.svg" alt="Eliminar item" class="icon">
              </div>
          </div>
      </div>

  </section>
</div>