*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: radial-gradient(circle at top left,#a9e235 0,#4dff91 50%,#04e5f0 100%);
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

/* ------------------header styles--------------- */

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 50px;
    height: 50px;
    margin-top: 1.8rem;
}

.header strong{
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
    letter-spacing: .05rem;
}

/* --------------------------------------------------------- */
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.column-80{
    flex: 80%;
}

.column-20{
    flex: 20%;
}

.icon-container{
    text-align: right;
    padding-right: 20px;
}

.icon{
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}

.desc{
    text-align: justify;
    font-size: 0.8rem;
    padding-left: 20px;
    word-wrap: break-word;
    overflow: hidden;
}

/* ------------------New activity styles--------------------*/
.create-item{
    margin-top: 3rem;
}

.field-create{
    width: 98%;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(221, 221, 221);
    font-size: 1rem;
    margin-right: .5rem;
    height: 1.2rem;
}

::-webkit-input-placeholder { color: white; } 

:-moz-placeholder { /* Firefox 18- */ color: white; } 

::-moz-placeholder { /* Firefox 19+ */ color: white; } 

:-ms-input-placeholder { color: white; }

.btn-create{
    width: 100%;
    height: 55px;
    background-color: teal;
    color: white;
    border: none;
}

/* ------------------List styles --------------------*/
.list-container{
    margin-top: 1.5rem;
}

.list-header{
    background-color: lawngreen;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60px;
}

.default-list{
    text-align: center;
    font-size: 0.8rem;
    height: 60px;
}

.list-body{
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}



/* Small devices (landscape phones, 576 and up */
@media screen and (min-width: 576px){
    body{
        font-size: 3rem;
    }

    .container{
        width: 80%;
    }
}

/* Medium devices (Tablets, 768px and up) */
@media screen and (min-width: 768px){
    .container{
        width: 70%;
    }
}

/* Extra larges devices (larges desktops, 1200px and up) */
@media screen and (min-width: 1200px){
    .container{
        width: 60%;
    }
}